
  <%= cl_image_tag(@book.image) %>

    <h2><%= @book.title %></h2>
    <h3><%= @book.author %></h3>
    <% if @book.category.present?%>
        <h4>Genre:<%=@book.category.name %></h4>
    <% end %>

    <h2>Average Rating</h2>
    <div class="average-review-rating" data-score=<%= @average_review %>%></div>
    <span>Based on <%= @book.reviews.count%> reviews</span>
    <br>
    <br>
    
    <p><%= @book.description %></p>

    <%= render @book.reviews %>

<div>
  <%= link_to "Add Review", new_book_review_path(@book)%>
</div>


<%= link_to "Back", root_path %>

  <% if user_signed_in?%>
    <% if @book.user_id == current_user.id%>

    <%= link_to "Edit", edit_book_path(@book) %>
    <%= link_to "Delete", book_path(@book), method: :delete, data: { confirm:"Are You Sure?"} %>

  <% end %>
<% end %>


<script>
	$('.review-rating').raty({
		readOnly: true,
		score: function() {
			return $(this).attr('data-score');
		},
		path: '/assets/'
	});
</script>

<script>
	$('.average-review-rating').raty({
		readOnly: true,
		path: '/assets/',
		score: function() {
			return $(this).attr('data-score')
		}
	});
</script>
